@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {

    width: 50%;
}

.card img {
    max-height: 15rem;
    object-fit: cover;
}